<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
</div>

<div class="mt-3">
  <%= link_to "Tasks", project_tasks_path(@project), class: "btn btn-primary" %>
</div>
